<!DOCTYPE html>
<html>
<head>
  <title>RCTech</title>
</head>

<body>

Hello!
My name is RC. I am a technology lover. I follow tech day in and day out. Please feel free to post your questions in the box below with your name and email address. I will get back to you with an answer. Thanks! 

Feel free to share the website with your friends and family. Adios!

</body>
</html>
